Inmersión de Datos Aula 1

In [1]:
import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

In [2]:
inmuebles = pd.read_csv('inmuebles_bogota.csv')

In [3]:
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [4]:
inmuebles.shape

(9520, 8)

In [5]:
inmuebles.shape[0]

9520

In [6]:
inmuebles.shape[1]

8

In [7]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [8]:
columnas = {
    'Baños':'Banos',
    'Área':'Area'
    }
inmuebles = inmuebles.rename(columns=columnas)

In [9]:
inmuebles.sample(3)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
3841,Apartamento,Apartamento en venta en Mazuren,3,2,120,Mazuren,El Prado,$ 390.000.000
267,Apartamento,Apartamento en venta en Antonio Nariño,2,1,37,Antonio Nariño,Restrepo,$ 175.000.000
5808,Apartamento,Apartamento en venta en Quinta Paredes,3,2,80,Quinta Paredes,Teusaquillo,$ 528.000.000

In [10]:
inmuebles.fillna(0, inplace=True)

In [11]:
inmuebles.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9520 entries, 0 to 9519
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tipo          9520 non-null   object
 1   Descripcion   9520 non-null   object
 2   Habitaciones  9520 non-null   int64
 3   Banos         9520 non-null   int64
 4   Area          9520 non-null   int64
 5   Barrio        9520 non-null   object
 6   UPZ           9520 non-null   object
 7   Valor         9520 non-null   object
dtypes: int64(3), object(5)
memory usage: 595.1+ KB

In [12]:
inmuebles.iloc[300]

Tipo                                Apartamento
Descripcion     Apartamento en venta en Kennedy
Habitaciones                                  2
Banos                                         1
Area                                         42
Barrio                                  Kennedy
UPZ                             Kennedy Central
Valor                             $ 116.100.000
Name: 300, dtype: object

In [13]:
inmuebles.iloc[300:305]

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
300,Apartamento,Apartamento en venta en Kennedy,2,1,42,Kennedy,Kennedy Central,$ 116.100.000
301,Apartamento,Apartamento en venta en Chico Norte,2,2,95,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 980.000.000
302,Apartamento,Apartamento en venta en Kennedy,3,2,54,Kennedy,Kennedy Central,$ 237.000.000
303,Apartamento,Apartamento en venta en Kennedy,3,2,67,Kennedy,Kennedy Central,$ 320.000.000
304,Apartamento,Apartamento en venta en Cedritos,4,4,132,Cedritos,Usaquén,$ 530.000.000

In [14]:
inmuebles['Valor']

0         $ 360.000.000
1         $ 670.000.000
2       $ 1.120.000.000
3         $ 890.000.000
4         $ 970.000.000
             ...
9515      $ 290.000.000
9516      $ 670.000.000
9517      $ 900.000.000
9518      $ 335.000.000
9519      $ 144.990.000
Name: Valor, Length: 9520, dtype: object

In [15]:
inmuebles[['Valor']]

                Valor
0       $ 360.000.000
1       $ 670.000.000
2     $ 1.120.000.000
3       $ 890.000.000
4       $ 970.000.000
...               ...
9515    $ 290.000.000
9516    $ 670.000.000
9517    $ 900.000.000
9518    $ 335.000.000
9519    $ 144.990.000

[9520 rows x 1 columns]

In [16]:
type(inmuebles.Valor)

pandas.core.series.Series

In [17]:
type(inmuebles['Valor'])

pandas.core.series.Series

In [18]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Banos', 'Area', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [19]:
inmuebles['Area']

0        70
1       170
2       144
3       154
4       128
       ...
9515     70
9516    100
9517    383
9518    183
9519     52
Name: Area, Length: 9520, dtype: int64

In [20]:
inmuebles[['Area']].mean()

Area    146.664706
dtype: float64

In [21]:
inmuebles[['Area']].describe()

                Area
count    9520.000000
mean      146.664706
std      1731.379622
min         2.000000
25%        57.000000
50%        80.000000
75%       135.000000
max    166243.000000

In [22]:
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
7901,Casa,Casa en venta en Rafael Uribe Uribe,10,7,400,Rafael Uribe Uribe,Los Alcázares,$ 600.000.000
5981,Apartamento,Apartamento en venta en La Calleja,3,2,116,La Calleja,USAQUÉN: Country Club + Santa Bárbara,$ 550.000.000
2638,Apartamento,Apartamento en venta en Chico Norte,2,2,186,Chico Norte,CHAPINERO: Chicó Lago + El Refugio,$ 1.550.000.000
8926,Apartamento,Apartamento en venta en Chico Reservado,2,2,62,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 495.000.000
7564,Apartamento,Apartamento en venta en Usaquén,3,2,89,Usaquén,Usaquén,$ 500.000.000
4133,Casa,Casa en venta en Zona Noroccidental,2,3,116,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 1.050.000.000
4718,Apartamento,Apartamento en venta en Suba,3,4,192,Suba,Suba,$ 1.025.000.000
2917,Apartamento,Apartamento en venta en Los Rosales,3,3,116,Los Rosales,CHAPINERO: Chicó Lago + El Refugio,$ 745.000.000
7053,Casa,Casa en venta en Bosa,2,1,40,Bosa,Bosa Central,$ 125.000.000
6778,Casa,Casa en venta en Kennedy,6,3,214,Kennedy,Kennedy Central,$ 299.900.000

In [23]:
inmuebles['Barrio'] == 'Chico Reservado'

0       False
1       False
2        True
3       False
4       False
        ...
9515    False
9516    False
9517    False
9518    False
9519    False
Name: Barrio, Length: 9520, dtype: bool

In [28]:
type(inmuebles['Barrio'] == 'Chico Reservado')

pandas.core.series.Series

In [24]:
sum(inmuebles['Barrio'] == 'Chico Reservado')

225

In [25]:
sum(inmuebles['Barrio'] != 'Chico Reservado')

9295

In [26]:
inmuebles_chico = sum(inmuebles['Barrio'] == 'Chico Reservado')
type(inmuebles_chico)

int

In [27]:
inmuebles_chico = sum(inmuebles.Barrio == 'Chico Reservado')
type(inmuebles_chico)

int